   {% load static %}
   <footer>
        <footer>
        <div class="simple">
            <div class="simple1">
                 <img src="{% static 'assets/briefcase-duotone 1.png' %}" alt="briefcase">
            <p><span class="userN">{{ request.user.username }}'s</span> Profile</p>
            </div>
          <div class="simple2">
      <p>quick links</p>
<ul>
        <li><a href="{% url 'home' %}">Homepage</a></li>
        <li><a href="{% url 'about' %}">about us</a></li>
        <li><a href="{% url 'contact' %}">contact us</a></li>

       </ul> 
            </div
        </div>
        <div class="simple3">
            <p>reach out to us</p><br>
            <!-- <i class="fas fa-phone-alt" > +2348109543115</i><br><br> -->
            <i class="fab fa-facebook"  ><a href="https://facebook.com" target="_blank">Facebook</a></i><br><br>
            <i class="fab fa-telegram"><a href="https://t.me/Seatlelgbtq" target="_blank">Telegram</a></i><br><br>
            <i class="far fa-copyright">LGBTQ 2026</i>
        </div>
    </footer>
    </footer>