{% load static %}
<link rel="stylesheet" href="{% static 'user/css/style.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<header>
  <div class="hero">
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'profiles' %}">All members</a></li>
      <li><a href="{%url 'logout'%}">log out</a></li>
      <!-- <li><a href="{%url 'jobs'%}">jobs</a></li> -->
      <!-- <li><a href="{%url 'all_jobs' %}">All jobs</a></li> -->
      {% else %}
      <li><a href="{%url 'signup'%}"> Sign up</a></li>
      <li><a href="{%url 'login'%}">Log in</a></li>

      {% endif %}
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
  </div>
  <div class="hero2">
    <ul>
      <!-- <li id="post"><a href="{%url 'post-jobs' %}">post jobs</a></li> -->
    </ul>
  </div>
  <div class="drop">
    <div class="drop-down-arrow">
      <i class="fas fa-caret-down"></i>
    </div>
    <div class="drop-menu">
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'profiles' %}">All Profiles</a></li>
        <li><a href="{%url 'logout'%}">log out</a></li>
        <li><a href="{%url 'jobs'%}">jobs</a></li>
        <li><a href="{%url 'all_jobs' %}">All jobs</a></li>
        {% else %}
        <li><a href="{%url 'signup'%}"> Sign up</a></li>
        <li><a href="{%url 'login'%}">Log in</a></li>

        {% endif %}
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
