{% extends 'base.html' %}
{% load static %}
{% block title%}Apply for job {% endblock title %}
{% block main%}
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label for="first name">First Name</label>
<input type="text" name="firstname" id="firstname"><br>
<label for="lastname">last Name</label>
<input type="text" name="lastname" id="lastname"><br>
<label for="dob">dob</label>
<input type="date" name="dob" id="dob"><br>
<label for="school">School Attended</label>
<input type="text" name="school" id="school"><br>
<label for="qualification">Qualification</label>
<input type="text" name="qualification" id="qualification"><br>
<label for="years">years of experience</label>
<input type="number" name="years" id="years"><br>
<label for="certificate">certificate</label>
<input type="file" name="image" id="image"><br>
<button>Apply now </button>






</form>



{% endblock main %}